.git
.gitignore
.github
.next
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env.*
*.local
coverage
.vscode
.idea
*.swp
*.swo
*.tmp
tmp
temp
*.tar
*.tar.gz
.DS_Store
Thumbs.db
__pycache__
*.pyc
*.pyo
*.pyd
.venv(dockeroptimizer)
venv
.specify
